body.light-theme {
    background-color: #f0f0f0;
    color: #000;
}

body.dark-theme {
    background-color: #1a1a1a;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    position: absolute;
    left: 10px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
